@charset "UTF-8";

body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

h1{
   font-size: 4rem;
}

@media screen and (min-width:768px) and (max-width:1023px) {
   body {
      background-size: cover;
      color: #fff;
      background-color: gray;
   }
}

@media screen and (max-width:767px) {
   body {
      background-size: cover;
      color: #000;
   }
}
