@charset "UTF-8";

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: black; /* 배경색 */
   margin: 0;
}

.container {
   width: 600px;
   height: 500px;
   display: grid;
   grid-template-columns:repeat(4, 1fr);
   grid-template-rows:repeat(3, 1fr);
   gap:20px;
}

.grid-item {
   background-color: yellow; /* 아이템 배경색 */
   padding: 20px;
   text-align: center;
   font-size: 1.5em;
}

.item1{
   grid-column:1/3;
   grid-row:1/3;
}

.item2{
   grid-column:3/5;
   grid-row:1/2;
}

.item3{
   grid-column:3/4;
   grid-row:2/4;
}

.item4{
   grid-column:4/5;
   grid-row:2/4;
}

.item5{
   grid-column:1/3;
   grid-row:3/4;
}

