@charset "UTF-8";

.container {
	width: 800px;
	height: 200px;
	margin:20px auto;
}

.origin {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	float: left;
	margin: 40px;
}

.origin > div {
	width: 100px;
	height: 100px;
	background-color: orange;
	transition: 1s;
}

#skewX:hover {
	transform: skewX(30deg);
}

#skewY:hover {
	transform: skewX(15deg);
}

#skewXY:hover {
	transform: skew(-25deg, -15deg);
}