@charset "UTF-8";

#container {
	width: 600px;
	margin: 10px auto;
}

fieldset{
	margin-bottom: 20px;
}

ul {
	list-style: none;
	padding-left: 0;
}

ul li {
	margin: 10px;
}

li label {
	width: 120px;
	line-height: 36px;
	float: left;
	font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"] {
	width: 300px;
	height: 30px;
}

#buttons {
	width:400px;
	margin: 20px auto;
	text-align: center;
}

#buttons input {
	width: 130px;
	height: 40px;
	font-size: 15px;
}

#buttons input:hover {
	background-color: #ddd;
	color: #fff;
	border-color: #fff;
}

select {
	width: 100px;
	height: 30px;
}



















