@charset "UTF-8";

.container {
	width: 800px;
	height: 200px;
	margin:20px auto;
}

.origin {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	float: left;
	margin: 40px;
}

.origin > div {
	width: 100px;
	height: 100px;
	background-color: orange;
	transition: 1s;
}

#moveX:hover {
	transform: translateX(50px);
}

#moveY:hover {
	transform: translateY(50px);
}

#moveXY:hover {
	transform: translate(10px, 20px);
}