@charset "UTF-8";

.pic img {
	width: 100%;
    height: auto;
} 
    
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px
}

.pic {
	flex-basis: 32%;
}

@media (min-width:769px) and (max-width:1024px) {
	.pic {
		flex-basis: 49%;
	}
}